.Main-Land {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Main-Land > div {
    margin-top: 20px;
    font-size: small;
    color: #9c27b0;
}
